
@import url('https://fonts.googleapis.com/css?family=Dosis|Ubuntu');



@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

/* CSS VARIABLES */
:root {
  --primary: #E3F2EB; 
  --light: #0C1D16;
  --dark: 	#686868;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Ubuntu;
  box-sizing: border-box;
  line-height: 1.4;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

 /* img {
max-width: 100%;
  border-radius: 5%;
} */

h1 {
  padding-top: 60px;  
}

h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #000;
	font : normal 600 72px/1 'Ubuntu';
    text-shadow: 1px 1px 2px #d8f3dc, 0 0 25px #d8f3dc, 0 0 5px #1b4332;
	text-align: center;
	white-space: nowrap;
 
}

h3 span {
	display: block;
	margin-top: 1em;
	font-size: 40px;
	font-weight: 300;
  
}      

.wrapper {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;  
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
   "nt mn mn sb . . . "; 
/* HEADER bg background-color: var(--primary);*/
  
  width: 100%;
 
  margin-bottom: 0px;  
}

.veganLogo {
  grid-area: nt;
  object-fit: cover;
  width: 240px;
  max-height: 100%;
  font-size: 26px;
  padding-left: 40px;
  padding-top: 0px;  
  text-decoration: none;
  font-weight: bold;
  
}

:any-link {

  text-decoration: none;
}

.veganLogo img {  
  height: 35px;     
}

#logo {
  color: #0C1D16;  
  margin: 0; 
  padding: 0;
  
}


.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
  font-size: 18px;
  font-weight: bolder;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;  
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.sub-nav a:hover {
  color: var(--dark);
}


/* MAIN CONTIANER */
.main-container {
  padding: 50px;
}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box a {
  transition: transform .3s;  
}

.box a:hover {
  transition: transform .5s ease;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);  
  transform: scale(1.2);
 /* -webkit-box-shadow: 0px 0px 100px 0px rgba(12,29,22,1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(12,29,22,1);*/


}

.box img {  
  border-radius: 8px;
}

/* LINKS */

a.score {
  color: #F3F3F3;
  
}


.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a{
  padding: 10px;
  text-decoration: none;
}

.logo {
  color: #0C1D16;
  text-decoration: none;
}

.review {
color: #0C1D16;
font-weight: lighter;
font-size: small;

}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

footer {
  color: var(--dark);
  text-decoration: none;
}

.wavy {
  color: #709f88;
  -webkit-text-decoration: #D8F3DC underline;
  text-decoration: #D8F3DC underline;

}


/* MEDIA QUERIES */

@media(min-width: 900px) {
    .hero {
        height: 100vh;
        background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://images.unsplash.com/photo-1602630453376-fb9a97af7e0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80) 0 0 / cover no-repeat;
        -webkit-animation: gradientAnimation 40s ease infinite;
        animation: gradientAnimation 40s ease infinite;
        }

        .veganLogo {
          max-width: 100%;
          margin: auto;
          padding: 0 120px 0 10px;
          /*padding-right: 100px;*/
          font-size: 30px;
      
        }
        h3 span {
          display: block;
          margin-top: 1em;
          font-size: 100px;
          font-weight: 300;
        } 

     img {
          max-width: 100%;
          border-radius: 5%;
        }
        
    .book-link {  
      color: #0c1d16;
      font-weight: bolder;
}   
}

/*
@media(max-width: 900px) {

.hero {
    height: 100vh;
    background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://images.unsplash.com/photo-1602630453376-fb9a97af7e0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80) 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;
    }

  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

}

@media(max-width: 700px) {


.wrapper {
  font-size: 15px;
}


  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
   
}
*/
@media(max-width: 900px) {

  .hero {
      height: 50vh;
      background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://images.unsplash.com/photo-1602630453376-fb9a97af7e0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80) 0 0 / cover no-repeat;
      -webkit-animation: gradientAnimation 40s ease infinite;
      animation: gradientAnimation 40s ease infinite;
      }    

  .wrapper {
    font-size: 16px;
  }

  header {
    margin: 0;
    padding: 15px 0px 15px 60px;
    position: static;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "nt"    
    "mn"
    "sb";
    text-align: center;
  }

.veganLogo {
    max-width: 100%;
    margin: auto;
    padding: 0 120px 0 0;
    /*padding-right: 100px;*/
    font-size: 30px;

  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    padding: 0 130px 0 0;
    /*padding-right: 100px;*/
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 22px;
  }

  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    padding: 0 45px 0 0;
    text-align: center;
    margin: 5px;
}
.bmc-btn {
  font-size: 1em !important; 
}

  h1 {
    text-align: center;
    font-size: 1.8em;
  }

  h3 {
	position: relative;
	top: 43%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #000;
	font : normal 600 72px/1 'Ubuntu';
    text-shadow: 1px 1px 2px #d8f3dc, 0 0 25px #d8f3dc, 0 0 5px #1b4332;
	text-align: center;
	white-space: nowrap;
    font-size: 3.3em;
  
}


.box {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;    
}

img {
  max-width: 180px;
  min-height: 80px;
  border-radius: 5%;
}
.box img {  
  min-width: 100%;
  min-height: 100%;
  border-radius: 8px;
}

.book-link {  
  color: #0c1d16;
  font-weight: bolder;
  font-size: 1.3em;
  max-height: 400px;
}

.review {
  color: #0C1D16;
  font-weight: lighter;
  font-size: 0.5em;
  
  }

  h3 span {
	display: block;
	margin-top: 1em;
	font-size: 40px;
	font-weight: 300;
}   


  .box a:hover {
   transition: transform .3s;
     -ms-transform: scale(1);
    -webkit-transform: scale(1); 
    transform: scale(1.2); 
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: #0C1D16;
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }

  footer {
    padding: 0px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }

   
}

